[Socket]
Documentation=https://myproxy.readthedocs.io/

ListenStream=/run/cm4all/myproxy/socket
PassCredentials=true

[Install]
WantedBy=sockets.target
